//General variables

//Colors
$bckColor:#EEE;
$primaryColor:#303030;
$secondaryColor:#40db15;
$tertiaryColor:#FFF;
$shadow: rgba(100,100,100,0.5);
$redColor: red;
$lightRedColor: rgb(254, 53, 53);

//Font
$fontFamilyMain:Verdana;
$fontSizeMain:14px;
$fontSizeMedium:16px;  


